<div class="form-group" ng-repeat="categoryContainer in categories">
    <div ng-if="categoryContainer.categories.length">
        <label>
            {{categoryContainer.firstLevelCategoryName}}
        </label>

        <div ng-repeat="category in categoryContainer.categories">
            <div>
                <div class="checkbox">
                    <label>
                        <input ng-click="onSelectedHandler(category._id, categoryContainer.firstLevelCategoryId)"
                               type="checkbox" ng-model="category.selected"/>

                        <span ng-show="category.primary"><b>{{category.name}}</b></span>
                        <span ng-show="!category.primary">{{category.name}}</span>
                    </label>
                    <button class="btn btn-link" ng-if="category.selected && !category.primary"
                            ng-click="onPrimaryHandler(category._id, categoryContainer.firstLevelCategoryId)">
                        set primary
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>