read-list-category {
  .read-list-category-item {
    padding: 10px 10px 10px 36px;
    border-bottom: 1px solid #cecece;
    display: flex;

    &__tree-actions {
      flex-basis: 30px;
    }

    &__content {
      flex-grow: 1;
    }

    &_can-expand {
      padding-left: 0;
    }
  }

  treecontrol.tree-classic > ul {
    padding-left: 0;
  }

  treecontrol ul,
  treecontrol li {
    list-style: none;
  }

  treecontrol.tree-classic treeitem > ul {
    position: relative;
    padding-left: 20px;
  }
}