<treecontrol class="tree-classic"
             tree-model="treeCategories"
             expanded-nodes="expandedNodes" options="treeOptions">
    <div class="read-list-category-item" ng-click="onCategoryHandler($event)"
         ng-class="{'read-list-category-item_can-expand': node.children.length}">

        <div class="read-list-category-item__tree-actions" ng-if="node.children.length">
            <button ng-if="node.children.length && !isCategoryExpanded(node)" class="btn btn-link"
                    ng-click="expandCategory(node)">+
            </button>
            <button ng-if="node.children.length && isCategoryExpanded(node)" class="btn btn-link"
                    ng-click="collapseCategory(node)">-
            </button>
        </div>

        <div class="read-list-category-item__content" ng-init="editableCategoryConfig = getCategoryConfig(node)">
            <read-editable-category read-configuration="editableCategoryConfig"></read-editable-category>
        </div>
    </div>
</treecontrol>