<h3>Filter</h3>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="readConfiguration.filter.title"/> without title
        </label>
    </div>
</div>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="readConfiguration.filter.price"/> without price
        </label>
    </div>
</div>

<div class="form-group">
    <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="readConfiguration.filter.cover"/> without cover
        </label>
    </div>
</div>