<h3>Add new Book</h3>
<form #addBookForm="ngForm">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Title
                </label>
                <input class="form-control" type="text" name="title" [(ngModel)]='book.title' required/>
            </div>
            <div class="form-group">
                <label>
                    Description
                </label>
                <input class="form-control" type="text" name="description" [(ngModel)]='book.description'/>
            </div>
            <div class="form-group">
                <label>
                    Binding
                </label>
                <input class="form-control" type="text" name="binding" [(ngModel)]='book.binding'/>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>
                    Cover
                </label>
                <input class="form-control" type="text" name="cover" [(ngModel)]='book.cover'/>
            </div>
            <div class="form-group">
                <label>
                    <!--TODO: refactoring to select-->
                    Language
                </label>
                <input class="form-control" type="text" name="language" [(ngModel)]='book.language'/>
            </div>
            <div class="form-group">
                <label>
                    Pages
                </label>
                <input class="form-control" type="number" name="pages" [(ngModel)]='book.pages'/>
            </div>
        </div>
    </div>

    <button class="btn btn-default" (click)="onCreate()" type="submit" [disabled]="!addBookForm.form.valid">Create
    </button>
</form>