<div ng-if="!tags.length">
    No tags
</div>

<div ng-if="tags.length">
    <div ng-repeat="tag in tags" ng-init="tagSettings={}">
        <form class="readListTag-item">
            <div class="readListTag-edit-container" ng-init="tagSettings.newTagName = tag.name; tagSettings.state = 'read';">
                <button ng-if="tagSettings.state == 'read'" ng-click="switchToEditState()" type="button"
                        class="btn btn-primary">
                    Edit
                </button>

                <button ng-if="tagSettings.state == 'edit'" ng-disabled="tag.name === tagSettings.newTagName || !tagSettings.newTagName.length"
                        ng-click="saveTag(tag._id, tagSettings.newTagName)" type="submit" class="btn btn-primary">
                    Save
                </button>

                <input autofocus ng-disabled="tagSettings.state == 'read' " class="form-control" type="text" ng-model="tagSettings.newTagName"
                       placeholder="Tag name">

                <button ng-if="tagSettings.state == 'edit'" ng-click="tagSettings.newTagName = tag.name; tagSettings.state = 'read'"
                        type="button"
                        class="btn btn-clear">
                    Cancel
                </button>

                <button ng-if="tagSettings.state == 'edit'" ng-click="deleteTag(tag._id)" type="button" class="btn btn-link">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>