<h3>Book List</h3>

<p ng-if="!readConfiguration.books.length">
    No books.
</p>

<div class="list-group">
    <div class="list-group-item" ng-repeat="book in readConfiguration.books">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-3">
                        <a ui-sref="read.book.edit({id: book._id})">
                            <img src="{{book.covers[0].url}}" width="100" title="{{book.title}}" alt="{{book.title}}"/>
                        </a>
                    </div>
                    <div class="col-md-9">
                        <a ui-sref="read.book.edit({id: book._id})">
                            <h4 class="list-group-item-heading">{{book.title}}</h4>
                        </a>

                        <div class="row">
                            <div class="col-md-2">
                                <p>Price: {{book.price}}</p>

                                <p>Pages: {{book.pages}}</p>
                            </div>
                            <div class="col-md-5">
                                <p>Binding: {{book.binding}}</p>

                                <p>Language: {{book.language}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>