<div>
    <angucomplete-alt placeholder="Search books"
                      pause="300"
                      selected-object="selectedBook"
                      local-data="readConfiguration.books"
                      local-search="localSearch"
                      title-field="title"
                      image-field="cover"
                      minlength="1"
                      clear-selected="true"
                      input-class="form-control form-control-small"
                      match-class="highlight"/>
</div>

<div ng-if="selectedBooks.length">
    <br>
    <ul class="list-group">
        <li ng-repeat="book in selectedBooks" class="list-group-item">
            <button class="btn btn-link" ng-click="removeBook(book)">X</button>
            {{book.title}}
        </li>
    </ul>
</div>
